.top-bar, 
.wrapper-main .navbar,
.anicon > .anicon-search-item:after,
.footer{
    background-color: #000;
}

#btnMainMenuToggler,
.top-bar, 
.wrapper-main .navbar,
.top-bar .controls-list > li{
    color: #ddd;
}
.top-bar .controls-list .control-basket .toggle-basket-preview,
.top-bar .controls-list .control-basket .toggle-basket-preview:hover,
.top-bar .controls-list > li a:not(.btn)[aria-expanded="true"], 
.top-bar .controls-list > li a:not(.btn):hover{
    background-color: #fff;
    color: #555;
}
.cmp-country-settings ul li.active a, .cmp-currency-select ul li.active a{
    background-color: #fff
}

.mobile-navigation{
    background: #000;
    color: #ddd;
}
.cmp-search-box .search-submit{
    color: #ddd;
}

.footer,
.footer a{
    color: #999;
}
.footer hr{
    border-color: #999
}
.footer a:hover{
    color: #999;
    text-decoration: underline;
}

a{
    color: #000;
}
a:hover{
    color: #333;
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover{
    background-color: #000;
    border-color: #000;
}
.cmp-product-thumb .add-to-basket-lg-container:hover{
    border-color: transparent #000 transparent transparent;
}

.owl-thumbs .owl-thumb.active, .owl-thumbs .owl-thumb:hover{
    border-color: #000;
}
.owl-carousel .carousel-control:hover i {
    color: #000;
}

.btn-primary{
    background-color: #000;
    border-color: #000;
}
.btn-primary:hover,
.btn-primary:focus, .btn-primary.focus,
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle,
.btn-primary.disabled:focus, .btn-primary:disabled:focus, .btn-primary.disabled.focus, .btn-primary:disabled.focus,
.btn-primary:active:hover, .btn-primary.active:hover, .open > .btn-primary.dropdown-toggle:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .btn-primary.dropdown-toggle:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle.focus {
    background-color: #333;
    border-color: #333;
}
.btn-outline-primary {
    color: #000 !important;
    background-image: none;
    background-color: transparent;
    border-color: #000;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus, .btn-outline-primary.focus,
.btn-outline-primary:active, .btn-outline-primary.active, .open > .btn-outline-primary.dropdown-toggle,
.btn-outline-primary.disabled:focus, .btn-outline-primary:disabled:focus, .btn-outline-primary.disabled.focus, .btn-outline-primary:disabled.focus,
.btn-outline-primary:active:hover, .btn-outline-primary.active:hover, .open > .btn-outline-primary.dropdown-toggle:hover, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .open > .btn-outline-primary.dropdown-toggle:focus, .btn-outline-primary:active.focus, .btn-outline-primary.active.focus, .open > .btn-outline-primary.dropdown-toggle.focus,
.widget-item-list.widget-primary .widget-caption {
    color: #fff !important;
    background-color: #000;
}

@media (min-width: 768px){
    .anicon.anicon-search-xcross[aria-expanded="false"]:hover > .anicon-search-item:after {
        background: #fff;
        border-color: #000;
    }
    .anicon.anicon-search-xcross[aria-expanded="false"]:hover > .anicon-search-item:before{
        background: #000;
    }
}

@media (min-width: 992px){
    .brand-wrapper{
        padding-right: 0;
    }
    .navbar-brand{
        margin-right: 0;
    }
    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu{
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        width: calc( 100% - 170px );
        margin-left: 170px;
    }
    #mainNavbarCollapsable ul.mainmenu > li > a {
        color: #ddd;
    }
    #mainNavbarCollapsable ul.mainmenu > li > a:hover {
        color: #000;
    }
    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li.level1 > a {
        color: #333;
    }
    .no-touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li a:hover, .touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li a.hover {
        color: #333 !important;
    }
}
