.top-bar, 
.wrapper-main .navbar,
.anicon > .anicon-search-item:after,
.footer{
    background-color: #000;
}

#btnMainMenuToggler,
.top-bar, 
.wrapper-main .navbar,
.top-bar .controls-list > li{
    color: #ddd;
}
.top-bar .controls-list .control-basket .toggle-basket-preview,
.top-bar .controls-list .control-basket .toggle-basket-preview:hover,
.top-bar .controls-list > li a:not(.btn)[aria-expanded="true"], 
.top-bar .controls-list > li a:not(.btn):hover{
    background-color: #fff;
    color: #555;
}

.mobile-navigation{
    background: #000;
    color: #ddd;
}
.cmp-search-box .search-submit{
    color: #ddd;
}

.footer,
.footer a{
    color: #999;
}
.footer hr{
    border-color: #999
}
.footer a:hover{
    color: #999;
    text-decoration: underline;
}

@media (min-width: 768px){
    .anicon.anicon-search-xcross[aria-expanded="false"]:hover > .anicon-search-item:after {
        background: #fff;
        border-color: #000;
    }
    .anicon.anicon-search-xcross[aria-expanded="false"]:hover > .anicon-search-item:before{
        background: #000;
    }
}

@media (min-width: 992px){
    #mainNavbarCollapsable ul.mainmenu > li > a {
        color: #ddd;
    }
    #mainNavbarCollapsable ul.mainmenu > li > a:hover {
        color: #000;
    }
    nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li.level1 > a {
        color: #333;
    }
    .no-touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li a:hover, .touch nav.navbar.megamenu #mainNavbarCollapsable ul.mainmenu > li > ul.collapse > li a.hover {
        color: #333 !important;
    }
}